<nav class="navbar navbar-default bg-success">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Moviez</a>
    </div>
    <ul class="nav navbar-nav">

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello {{model.user.username}}</a></li>
        <li ng-show="model.role==='user'"><a href="#!/{{model.role}}/{{model.userId}}/cart">Cart&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        <li ng-show="model.role==='user'"><a href="#!/{{model.role}}/{{model.userId}}/order">Orders</a></li>
        <li ng-show="model.role==='dealer'"><a href="#!/{{model.role}}/{{model.userId}}/cart">Cart&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        <li ng-show="model.role==='dealer'"><a href="#!/{{model.role}}/{{model.userId}}/order">Orders</a></li>
        <li ng-show="model.user.role==='dealer'"><a href="#!/{{model.role}}/{{model.userId}}/soldItems">My Sold Items</a></li>
        <li ng-show="model.user.role==='productionHouse'"><a href="#!/{{model.role}}/{{model.userId}}/soldItems">My Sold Items</a></li>
        <li><a href="#!/">Logout</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/{{model.role}}/{{model.userId}}/search" class="glyphicon glyphicon-search proj-navbar-color"></a></li>
    </ul>
    </div>
</nav>

<div class="container-fluid">
    <h1>Your cart</h1>
    <div class="row">
        <div ng-repeat="c in model.user.cart">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-lg-6" align="left">
                            <img ng-src="https://image.tmdb.org/t/p/w300{{c.movie.poster_path}}" class="img-responsive img-dim">
                        </div>
                        <div class="col-lg-6" align="left">
                            <h3>Movie: {{c.movie.title}}</h3>
                            <h4 ng-show="model.role==='user'">Dealer: {{c.dealer.dealer}}</h4>
                            <h4 ng-show="model.role==='dealer'">Production House: {{c.productionHouse.productionHouse}}</h4>
                            <h5>Quantity: {{c.quantity}}</h5>
                            <h5 ng-show="model.role==='user'">Cost: ${{c.quantity*c.dealer.cost}}</h5>
                            <h5 ng-show="model.role==='dealer'">Cost: ${{c.quantity*c.productionHouse.cost}}</h5>
                            <!--<a ng-click="model.removeFromCart(c)" class="btn btn-danger">Remove</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div align="center" class="row">
        <a ng-click="model.placeOrder()" class="btn btn-warning">Place Order</a>
    </div>
</div>